.groupedTable {
  margin-bottom: 30px;
  width: 100%;
}

.groupedTable thead {
  font-weight: bold;
  background-color: #ddd;
}

.groupedTable td {
  padding: 3px;
  margin: 0;
  vertical-align: middle;
}

.groupedTable td.subHeader {
  font-weight: bold;
}
.connectedName {
  font-size: larger;
}
