* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

* + * {
  margin-top: 0 !important;
}

a,
a:visited {
  color: #00664f;
}

strong {
  color: black;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  line-height: normal;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

#root {
  margin-top: 0;
}

#main-wrapper {
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.results section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.details {
  color: #666;
}

.details__left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-right: 25px;
}

.details__left-column ul {
  list-style: none;
}

.details__left-column__item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.details__left-column__item table {
  width: 100%;
}

.details__right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding-left: 25px;
}

.details td {
  padding: 0 10px 10px 0;
}

.details tr > td:first-of-type {
  font-weight: bold;
  padding-right: 15px;
  color: black;
}

.quick-access {
  margin-bottom: 30px;
}

.quick-access__item {
  width: 162px;
  border: 1px solid #ccc;
  padding: 11px;
  margin: 0 15px 15px 0;
}

.quick-access__item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.activity td {
  padding: 15px 0 15px 15px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.activity tr > td:first-of-type {
  padding-left: 0;
  font-weight: normal;
}

.activity td p {
  margin-bottom: 5px;
}

.activity__search {
  width: 180px;
  position: relative;
}

.activity__search input {
  width: initial;
  height: initial;
  font-size: initial;
}

.activity__search input[type=text] {
  height: 34px;
  font-size: initial;
  float: left;
  width: 146px;
  border-right: none;
}

.activity__search button {
  float: left;
  padding: 9px;
  background: #00664f;
  color: white;
  border: 2px solid #0b0c0c;
  border-left: none;
  cursor: pointer;
  border-left: none;
  height: 34px;
  width: 34px;
}
.activity__filters {
  border: 2px solid #0b0c0c;
  width: 164px;
  position: absolute;
  top: 32px;
  padding: 6px;
  background: #fff;
}

.activity__search button:hover {
  background: #00513f
}

.activity__search input:focus,.activity__search button:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

.activity__search::after {
  content: "";
  clear: both;
  display: table;
}

.lbh-container {
  max-width: 1140px;
}

.govuk-checkboxes__input {
  opacity: 1;
}

.govuk-accordion__icon {
  margin-top: -8px !important;
}


//.govuk-checkboxes__label::after {
//  content: "";
//  position: absolute;
//  top: 7px;
//  left: 5px;
//  width: 9px;
//  height: 3px;
//  transform: rotate(-45deg);
//  border: solid;
//  border-width: 0 0 2px 2px;
//  border-top-color: transparent;
//  opacity: 0;
//  background: transparent;
//}
//.govuk-checkboxes__label::before {
//  content: "";
//  box-sizing: border-box;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 20px;
//  height: 20px;
//  border: 2px solid currentColor;
//  background: transparent;
//}
//.lbh-checkboxes .govuk-checkboxes__label {
//  font-size: 19px;
//  font-size: 1rem;
//  line-height: 30px;
//  line-height: 1.875rem;
//}
