.activity__search {
  width: 180px;
  position: relative;

  ::after {
    content: '';
    clear: both;
    display: table;
  }

  span {
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    padding: 5px;
    background: #fff;
  }

  input[type='text'] {
    font-size: initial;
    height: 34px;
    float: left;
    width: 146px;
    border-right: none;
  }

  button {
    float: left;
    padding: 8px;
    background: #00664f;
    color: white;
    border: 2px solid #0b0c0c;
    border-left: none;
    cursor: pointer;
    border-left: none;
    height: 34px;
    width: 34px;
    font-size: 14px;

    :hover {
      background: #00513f;
    }
  }
}
.activity__filters {
  border: 2px solid #0b0c0c;
  width: 164px;
  position: absolute;
  top: 32px;
  padding: 6px;
  background: #fff;

  a {
    display: block;
    margin: 6px 0;
  }
}
a {
  font-size: 18px !important;
  font-weight: bolder !important;
}

button:disabled:hover {
  color: black !important;
}
button:disabled {
  opacity: 1;
  color: black;
  background: rgb(217, 219, 217) !important;
  box-shadow: 0 2px 0 rgb(164, 170, 164) !important;
}

.activity__search input:focus,
.activity__search button:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
