.page-navigation {
  position: relative;
  text-align: center;
}

.next-page-button {
  float: right;
}

.previous-page-button {
  float: left;
}
.current-page-number {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  pointer-events: none;
}
