.page-navigation {
  display: flex;
  justify-content: space-between;
}

.records-range-label {
  display: inline !important;
}

.page-range {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
