.lbh-container {
  font-family: 'Open Sans';

  p button {
    text-decoration: underline;
    color: #5094da;
    font-size: 12px;
    font-weight: 400;

    &:visited {
      color: #5094da;
    }

    &:hover {
      color: blue;
      cursor: pointer;
    }
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }
}

#tenancy-area-patch-container {
  display: flex;
}

#tenancy-full-address {
  margin-bottom: 10px;
}

#tenancy-tile {
  margin-bottom: 15px;
}

#area-patch-tile {
  margin: 0 auto;
}

#area-patch-content {
  display: flex;
  line-height: 25px;
}

#area-patch-contents {
  margin-left: 5px;
}

#tenant-container {
  display: flex;
  flex-direction: column;
}

#tenant-tile {
  display: flex;
  margin-left: -60px;
}

// .govuk-template__body {
//   font-family: 'Open Sans' !important;
// }

// body #root {
//   font-family: 'Open Sans' !important;
// }

// body main#main-content.lbh-main-wrap {
//   font-family: 'Open Sans' !important;
// }

// .main lbh-container row details {
//   font-family: 'Open Sans' !important;
// }

// * {
//   font-family: 'Open Sans' !important;
// }

// .body.govuk-template__body.language-markup.js-enabled #root {
//   font-family: 'Open Sans' !important;
// }
