#tenant-tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .tenant {
    min-width: 33%;
  }
}

#household-members {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #666;
  }
  td,
  th {
    padding: 10px 0;
  }
}

.alert-tiles {
  display: flex;
  justify-content: flex-start;
}
