.popup-content {
  border-radius: 4px;
}

.modal > .content {
  padding: 20px 10px;
}

.modal > .content > table {
  width: 100%;
}

.modal > .close {
  color: white;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 0;
  top: -30px;
  font-size: 30px;
  text-decoration: none;
}
