.recordsTable {
  width: 100%;
  margin-top: 15px;
}
.recordsTable thead {
  font-weight: bold;
  background-color: #ddd;
}
.recordsTable td {
  padding: 3px;
  margin: 0;
  vertical-align: middle;
}
.recordsTable td.subHeader {
  font-weight: bold;
}
