.lbh-container {
}

.resident-container {
  display: flex;
  flex-direction: column;
}

#resident-fullname-container {
  margin-bottom: 15px;
}

#resident-fullname-link {
  &:link {
    color: #5094da;
  }

  &:visited {
    color: #5094da;
  }

  &:hover {
    color: blue;
    cursor: pointer;
  }
}

#resident-email-link {
  color: #95b3d9;
  text-decoration: underline;
  &:hover {
    color: blue;
    cursor: pointer;
  }
}
