.previousRecord {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.row {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.open {
  width: 100%;
}
